{% extends "package/read_base.html" %}

{% block primary_content_inner %}
  {{ super() }}

{% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', '') %}
  {% if not dataset_extent %}
    <div class="alert-info non-federal"><i class="fa fa-info-circle"></i><span>INFORMASI: Data berikut ini masih dalam proses pemenuhan Prinsip SDI.
    </span></div>
  {% endif %}

  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}

    {% if h.get_pkg_dict_extra(pkg, 'prioritas_tahun') == '2022' %}
      <span class="dataset-private label label-inverse2 pull-right">
        <i class="fa fa-database"></i>
        {{ _('PRIORITAS 2022') }}
      </span>
    {% endif %}

    {% if h.get_pkg_dict_extra(pkg, 'prioritas_tahun') == '2023' %}
      <span class="dataset-private label label-inverse2 pull-right">
        <i class="fa fa-database"></i>
        {{ _('PRIORITAS 2023') }}
      </span>
    {% endif %}

    {% if h.get_pkg_dict_extra(pkg, 'prioritas_tahun') == '2024' %}
      <span class="dataset-private label label-inverse2 pull-right">
        <i class="fa fa-database"></i>
        {{ _('PRIORITAS 2024') }}
      </span>
    {% endif %}

    {% block package_archive_notice %}
      {% if is_activity_archive %}
        <div class="alert alert-danger">
          {% trans url=h.url_for(pkg.type ~ '.read', id=pkg.id) %}
          You're currently viewing an old version of this dataset. To see the
          current version, click <a href="{{ url }}">here</a>.
          {% endtrans %}
        </div>
      {% endif %}
    {% endblock %}
    <h1>
      {% block page_heading %}
        {{ h.dataset_display_name(pkg) }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      {% endblock %}
    </h1>
    {% block package_notes %}
      {% if pkg.notes %}
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
        </div>
      {% endif %}
    {% endblock %}
    {# FIXME why is this here? seems wrong #}
    <span class="insert-comment-thread"></span>
  {% endblock %}

  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources, is_activity_archive=is_activity_archive %}
  {% endblock %}

  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
  {% endblock %}

{% endblock %}

{% block secondary_content %}
  {{ super() }}

  {% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', '') %}
  {% if dataset_extent %}
    {% snippet "spatial/snippets/dataset_map_sidebar.html", extent=dataset_extent %}
    <ul><a href="https://tanahair.indonesia.go.id/" target="_blank"><img src="{{ h.url_for_static('/base/images/geospasialuntuknegeri.png') }}" alt="Geospasial Untuk Negeri"></a></ul>
  {% endif %}

  <div class="panel panel-primary">
    <div class="panel-heading">
    <div class="panel-title">{{_('Informasi Dataset')}}</div>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <strong>{{ _('Dataset Dipublikasi') }}:</strong>
        {{ h.render_datetime(pkg.metadata_created, '%Y-%m-%d') }}
      </li>
      <li class="list-group-item">
        <strong>{{ _('Dataset Dimodifikasi') }}:</strong>
        {{ h.render_datetime(pkg.metadata_modified, '%Y-%m-%d') }}
      </li>
      <li class="list-group-item">
        <strong>{{ _('Dataset ID') }}:</strong>
        {{ pkg.id }}
      </li>
      <li class="list-group-item">
        <strong>{{ _('Metadata') }}:</strong>
        <ul class="list-group" style="margin-bottom: 0;">
          <li class="list-group-item">
            <a href="{{h.url_for_static('/', qualified=true)}}api/action/package_show?id={{pkg.id}}" rel="nofollow" target="_blank">
              {{ _('Link Format JSON') }}
            </a>
          </li>
          <li class="list-group-item" style="border: none;">
            <a href="{{ h.url_for(controller='dataset', action='read', id=pkg.id) }}.jsonld" rel="nofollow" target="_blank">
              {{ _('Link Format DCAT/JSON-LD') }}
            </a>
          </li>
          <li class="list-group-item" style="border: none;">
            <a href="{{ h.url_for(controller='dataset', action='read', id=pkg.id) }}.rdf" rel="nofollow" target="_blank">
              {{ _('Link Format RDF/XML') }}
            </a>
          </li>

          {% set harvest_object_id = h.get_pkg_dict_extra(pkg, 'harvest_object_id', None) %}
          {% if harvest_object_id %}
          {% if dataset_extent %}
          <li class="list-group-item" >
            <strong>{{ _('Standar Metadata') }}:</strong>
            <a href="/harvest/object/{{ harvest_object_id }}" rel="nofollow" target="_blank">
            {{ _("ISO:19115 Metadata Record - XML") }}
            </a>
          </li>
          {% endif %}
          {% endif %}

        </ul>
      </li>
    </ul>
  </div>

{% endblock %}
