<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6></h6>
        <p class="text-justify">Sekretariat Satu Data Indonesia</p>
        <p class="text-justify">Jalan Karawang No.4 Menteng, Jakarta Pusat 10310</p>
        <p class="text-justify">Telp. +62 822-6000-7040</p>
        <a href="https://www.bappenas.go.id" target="_blank"><img src="https://datahub.data.go.id/data/static/Kementerian%20PPN%20Bappenas%20Kotak%20ID.png" width="200" height="200"></a><br/>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Indeks</h6>
        <ul class="footer-links">
          <li><a href="https://data.go.id">Beranda</a></li>
          <li><a href="https://data.go.id/topic-detail">Dataset</a></li>
          <!-- <li><a href="https://docs.ckan.org/en/2.9" target="_blank">Developer</a></li> -->
          <li><a href="https://data.go.id/berita">Berita</a></li>
          <li><a href="https://data.go.id/tentang">Tentang</a></li>
          <li><a href="https://katalog.data.go.id/organization">Walidata Terhubung</a></li>
        </ul>
      </div>
    
      <div class="col-xs-6 col-md-3">
        <h6>Links</h6>
        <ul class="footer-links">
          <li><a href="https://data.go.id/tentang#tentang-form">Kontak Kami</a></li>
          <li><a href="https://data.go.id/policy">Kebijakan Privasi</a></li>
          <li><a href="http://link.bappenas.go.id/aksesportalsdi">Permintaan Akses</a></li>
          <li><a href="https://data.go.id/daftar-menjadi-ahli">Daftar Menjadi Ahli</a></li>
          <li><a href="https://data.go.id/registrasi-hak-akses">Registrasi Layanan Portal</a></li>

          <!-- <li><a href="https://gitter.im/ckan/chat" target="_blank">Chat</a></li> -->
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021
     <a href="https://www.bappenas.go.id" target="_blank">Kementerian PPN/Bappenas</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <a class="instagram" href="https://www.instagram.com/data.go.id" target="_blank"><i class="fab fa-instagram"></i></a>
          <a class="twitter" href="https://twitter.com/datagoid" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="youtube" href="https://www.youtube.com/@satudataindonesia" target="_blank"><i class="fab fa-youtube"></i></a>   
        </ul>
      </div>
    </div>
  </div>
</footer>
