{% block header_site_navigation_tabs %}
    <li><a href="https://data.go.id/" class="site-header__menu-item menu-item" title="Beranda">Beranda</a></li>
    <li><a href="https://data.go.id/dataset" class="site-header__menu-item menu-item" title="Dataset">Dataset</a></li>
    <li><a href="https://data.go.id/berita" class="site-header__menu-item menu-item" title="Berita">Berita</a></li>
    <li><a href="https://data.go.id/tentang" class="site-header__menu-item menu-item" title="Tentang">Tentang</a></li>
{% endblock %}
