{% block header_site_navigation_tabs %}
    <li><a href="https://satudata.go.id/" class="site-header__menu-item menu-item" title="Beranda">BERANDA</a></li>
    <li><a href="https://satudata.go.id/search/" class="site-header__menu-item menu-item" title="Dataset">PENCARIAN</a></li>
    <li><a href="https://satudata.go.id/data/dataset/" class="site-header__menu-item menu-item" title="Dataset">DATASET</a></li>
    <li><a href="https://satudata.go.id/dashboard/" class="site-header__menu-item menu-item" title="Dashboard">DASHBOARD</a></li>
    <li><a href="https://satudata.go.id/cms/berita/" class="site-header__menu-item menu-item" title="Berita">BERITA</a></li>
    <li><a href="https://satudata.go.id/about/" class="site-header__menu-item menu-item" title="Tentang">TENTANG</a></li>
{% endblock %}