<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('Apa itu Walidata?') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
        Walidata adalah unit pada Instansi Pusat dan Instansi Daerah yang melaksanakan kegiatan pengumpulan, pemeriksaan, dan pengelolaan Data yang disampaikan oleh Produsen Data, serta menyebarluaskan Data. (Perpres Nomor 39 Tahun 2019 tentang Satu Data Indonesia)
        {% endtrans %}
      </p>
    </div>
  </div>
