<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('Daftar Instansi') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
        Seluruh kumpulan data yang tersedia dalam Portal Satu Data Indonesia dapat diakses secara terbuka dan dikategorikan sebagai data publik, sehingga tidak mengandung informasi yang memuat rahasia negara, rahasia pribadi, atau hal lain sejenisnya sebagaimana diatur dalam Undang-undang nomor 14 Tahun 2008 tentang Keterbukaan Informasi Publik.
        {% endtrans %}
      </p>
    </div>
  </div>